[core]
  pager = delta
  editor = nvim

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true

[interactive]
    diffFilter = delta --color-only
[user]
	email = erkhem.gantulga@gmail.com
	name = Erkhembayar Gantulga
[diff]
    tool = vimdiff
